#root{
  background-color: #f5b1a2;
  width: 100vw;  
  min-height: 100vh;  
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  text-decoration: none;
  color: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{

  text-decoration: none;
  color: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}